<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="alien1" class="com.noir.Alien">
<!--        <constructor-arg type="com.noir.Laptop" ref="laptop"/>-->
<!--        <constructor-arg type="int" value="21"/>-->
<!--        <property name="lap" ref="laptop"/>-->

        <constructor-arg index="1" ref="laptop"/>
        <constructor-arg index="0" value="21"/>

<!--        <constructor-arg name="age" value="21"/>-->
<!--        <constructor-arg name="lap" ref="laptop"/>-->

    </bean>

    <bean id ="laptop" class="com.noir.Laptop">
    </bean>

</beans>


